<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Gallery</li>
            </ul>
            <h2>Gallery</h2>
        </div>
    </div>
    <div class="shape9"><img src="img/shape8.svg" alt="image"></div>
</div>

<div class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img1.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img2.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img3.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img4.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img5.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img6.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img7.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img8.jpg" alt="gallery-image">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-gallery-item">
                    <img src="img/courses/img9.jpg" alt="gallery-image">
                </div>
            </div>
        </div>
    </div>
</div>