<app-modern-schooling-banner />

<app-boxes />

<app-modern-schooling-about />

<app-modern-schooling-courses />

<app-feedback />

<app-top-categories />

<div class="bg-fffaf3">
    <app-funfacts-style-one />
</div>

<app-overview />

<app-modern-schooling-events />

<div class="subscribe-area ptb-100">
    <div class="container">
        <app-subscribe />
    </div>
    <div class="shape4"><img src="img/shape4.png" alt="image"></div>
    <div class="shape13"><img src="img/shape12.png" alt="image"></div>
    <div class="shape14"><img src="img/shape13.png" alt="image"></div>
    <div class="shape15"><img src="img/shape14.png" alt="image"></div>
</div>

<div class="partner-area bg-fe4a55 ptb-70">
    <div class="container">
        <app-partner />
    </div>
</div>