<div class="main-banner-wrapper">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="main-banner-wrapper-content">
                    <h1>Achieve the Best Results with Language Veda</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a routerLink="/profile-authentication" class="default-btn"><i class="flaticon-user"></i>Join For Free Demo<span></span></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="main-banner-wrapper-image text-center">
                    <!-- <img src="img/banner-img3.png" alt="image"> -->
                    <img src="img/banner-home2-1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape14"><img src="img/banner-shape15.png" alt="image"></div>
    <div class="banner-shape15"><img src="img/banner-shape16.png" alt="image"></div>
    <div class="banner-shape16"><img src="img/banner-shape17.png" alt="image"></div>
    <div class="banner-shape17"><img src="img/banner-shape18.png" alt="image"></div>
    <div class="banner-shape18"><img src="img/banner-shape19.png" alt="image"></div>
</div>