.kindergarten-services-area {
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 200px;
        z-index: -1;
        background-color: var(--whiteColor);
        width: 100%;
    }
}
.single-kindergarten-services-box {
    text-align: center;
    position: relative;

    .content {
        left: 0;
        right: 0;
        top: 85px;
        z-index: 1;
        position: absolute;
        padding: {
            left: 70px;
            right: 50px;
        };
        .icon {
            color: var(--mainColor);
            margin-bottom: 25px;
            font-size: 55px;
            line-height: 1;
        }
        // h3 {
        //     margin-bottom: 10px;
        //     font: {
        //         size: 24px;
        //         weight: 800;
        //     };
        // }
        h3 {
            margin-bottom: 10px;
            line-height: 1.3;
            font: {
                size: 24px;
                weight: 800;
            };
            a {
                display: inline-block;
            }
        }
        p {
            opacity: 0.8;
        }
    }
}

@media only screen and (max-width: 767px) {

    .kindergarten-services-area {
        padding-bottom: 60px;

        &::before {
            display: none;
        }
    }
    .single-kindergarten-services-box {
        background-color: #ffffff;
        padding: {
            left: 15px;
            right: 15px;
            top: 25px;
            bottom: 25px;
        };
        img {
            display: none !important;
        }
        .content {
            position: relative;
            top: 0;
            padding: {
                left: 0;
                right: 0;
            };
            h3 {
                font-size: 19px;
            }
            .icon {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .kindergarten-services-area {
        &::before {
            height: 160px;
        }
    }
    .single-kindergarten-services-box {
        background-color: #ffffff;
        padding: {
            left: 20px;
            right: 20px;
            top: 35px;
            bottom: 35px;
        };
        img {
            display: none !important;
        }
        .content {
            position: relative;
            top: 0;
            padding: {
                left: 0;
                right: 0;
            };
            .icon {
                font-size: 40px;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
    .single-kindergarten-services-box {
        background-color: #ffffff;
        padding: {
            left: 20px;
            right: 20px;
            top: 35px;
            bottom: 35px;
        };
        img {
            display: none !important;
        }
        .content {
            position: relative;
            top: 0;
            padding: {
                left: 0;
                right: 0;
            };
            .icon {
                font-size: 45px;
            }
            // h3 {
            //     font-size: 21px;
            // }

        }
    }

}

@media only screen and (min-width: 1200px) and (max-width: 1355px) {}


.language-title {
    text-align: center;
    max-width: 720px;
    margin: {
        left: auto;
        right: auto;
        bottom: 55px;
    };
    .language-sub-title {
        display: block;
        text-transform: uppercase;
        color: var(--mainColor);
        margin-bottom: 10px;
        font: {
            size: 33px;
            weight: bold;
        };
    }
}


.instructor-events-box {
    margin-bottom: 30px;
    position: relative;

    .events-image {
        border-radius: 8px 8px 0 0;
        overflow: hidden;

        a {
            border-radius: 8px 8px 0 0;
            overflow: hidden;

            img {
                border-radius: 8px 8px 0 0;
                transition: var(--transition);
                width: 100%;
            }
        }
    }
    .events-content {
        background-color: #F9FAFE;
        padding: 25px;
        border-radius: 0 0 8px 8px;

        .category {
            display: inline-block;
            margin-bottom: 12px;
            color: #F98202;
            text-transform: uppercase;
            font: {
                size: 14px;
                weight: 700;
            };
            &:hover {
                color: var(--mainColor);
            }
        }
        h3 {
            margin-bottom: 12px;
            line-height: 1.4;
            font: {
                size: 24px;
                weight: 800;
            };
            a {
                display: inline-block;

                &:hover {
                    color: #F98202;
                }
            }
        }
        .events-content-footer {
            list-style-type: none;
            padding-left: 0;
            margin: {
                bottom: 0;
                left: -7px;
                right: -7px;
                top: 18px;
            };
            li {
                color: var(--optionalColor);
                font-size: 15px;
                position: relative;
                padding: {
                    left: 35px;
                    right: 10px;
                };
                font-weight: 500;
                i {
                    color: #F98202;
                    position: absolute;
                    left: 10px;
                    top: 0;
                }
                &:last-child {
                    i {
                        top: 2.8px;
                        left: 15px;
                    }
                }
            }
        }
    }
    &:hover {
        .events-image {
            a {
                img {
                    transform: rotate(5deg) scale(1.3);
                }
            }
        }
    }
}