<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Success Story</li>
            </ul>
            <h2>Success Story</h2>
        </div>
    </div>
    <div class="shape9"><img src="img/shape8.svg" alt="image"></div>
</div>

<div class="success-story-area pb-100">
    <div class="container">
        <div class="video-box mt-0">
            <div class="image">
                <img src="img/success-story.jpg" class="shadow" alt="image">
            </div>
            <div class="video-btn popup-youtube" (click)="openPopup()">
                <i class="flaticon-play"></i>
            </div>
            <div class="shape10"><img src="img/shape9.png" alt="image"></div>
        </div>
    </div>
    <div class="shape2"><img src="img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="img/shape3.png" alt="image"></div>
    <div class="shape4"><img src="img/shape4.png" alt="image"></div>
    <div class="shape9"><img src="img/shape8.svg" alt="image"></div>
</div>

<div class="testimonials-area ptb-100 bg-fef8ef">
    <div class="container">
        <div class="single-testimonials-box">
            <img src="img/user1.jpg" class="client-img" alt="image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum  ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore.</p>
            <h3>John Smith</h3>
            <span>Python Developer</span>
            <div class="shape-img">
                <img src="img/shape4.png" class="shape-1" alt="image">
                <img src="img/shape14.png" class="shape-2" alt="image">
                <img src="img/shape7.png" class="shape-3" alt="image">
            </div>
        </div>
    </div>
</div>

<app-our-story />

<app-success-people />

<!-- Video Popup -->
<div
    class="video-popup position-fixed d-flex align-items-center justify-content-center text-center top-0 start-0 end-0 bottom-0"
    *ngIf="isOpen"
>
    <div class="popup-inner bg-white position-relative mx-auto">
        <iframe src="https://www.youtube.com/embed/YDXQ_nociO4" title="Web Design Trends 2025" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <button (click)="closePopup()" type="button" class="close-btn p-0 border-0 d-flex align-items-center justify-content-center rounded-circle">
            <i class='bx bx-x'></i>
        </button>
    </div>
</div>