<app-yoga-banner />

<app-training />

<app-yoga-about />

<app-yoga-courses />

<app-feedback-style-two />

<app-experience />

<div class="bg-fffaf3">
    <app-funfacts-style-one />
</div>

<app-download-syllabus />

<app-flexible-pricing />

<app-yoga-blog />

<div class="subscribe-area bg-f5f7fa ptb-100">
    <app-subscribe-style-two />
    <div class="shape4"><img src="img/shape4.png" alt="image"></div>
    <div class="shape13"><img src="img/shape12.png" alt="image"></div>
</div>

<div class="partner-area bg-6ba292 ptb-70">
    <div class="container">
        <app-partner />
    </div>
</div>