<div class="courses-area pt-100 pb-70 bg-f5f7fa">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Welcome to Language Veda</span>
            <h2>Our Language Courses</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/kannada.jpg" alt="image">
                    <h3>Kannada</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/sanskritR.jpg" alt="image">
                    <h3>Sanskrit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/marathi.jpg" alt="image">
                    <h3>Marathi</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/telugu.jpg" alt="image">
                    <h3>Telugu</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/img2.png" alt="image">
                    <h3>Malayalam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-language-courses-box">
                    <img src="img/language-courses/img3.png" alt="image">
                    <h3>Odia</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                    <a routerLink="/courses-1" class="default-btn"><i class="flaticon-right"></i>View More<span></span></a>
                </div>
            </div> -->
        </div>
    </div>
</div>